{% extends 'base.html' %}

{%block title%} {% endblock %}

{%block body %}
<h1 class="title">About Lotus</h1>

<div class="about"> Lotus was created by Tasha Davis, LMSW as a way to combine her previous career as a social
	worker, with her new career transition into engineering. During her career there were many times Tasha met with clients
	who did not know the signs of mental illness, how to tell if they had mental illness or where to get help. This site was created with
	those clients in mind as a resource for information.

</div>

<div id="aboutopp"> The goal as Tasha continue's to work on the site is to allow users to upload images, use google maps to pin
	locations of providers on the same screen as the list of providers, incorporate more assessments, provide outside resources to various
	organizations.
	
</div>

{% endblock %}