{% extends 'base.html' %}

{%block title%} {% endblock %}

{%block body %}


<h1 class="title">Assesssment information</h1>



<p><a href=" https://medicine.umich.edu/dept/psychiatry/programs/anxiety-disorders-program-adult/patient-resources" target="blank">Learn More About the Anxiety
	Assessment
</a></p>

<p><a href=" https://uhs.umich.edu/depression" target="blank">Learn More About the Depression
	Assessment
	
</a></p>
<p><a href=" https://uhs.umich.edu/depression" target="blank">Learn More About the Insomnia
	Assessment
	
</a></p>

<div id="aboutmove">
<h3 id="natres">National resources:</h3>
<p>National Crisis Text Line offers free 24/7 support at your fingertips. Text HOME to 741741 and "a live, trained Crisis Counselor receives the text and responds, all from our secure online platform. The volunteer Crisis Counselor will help you move from a hot moment to a cool moment."
</p>
<p>Anxiety and Depression Association of America
240-485-1001
Committed to improving the lives of the people who suffer from anxiety disorders through promotion of early diagnosis, treatment and cure.
</p>
<p>
Facebook aims to help prevent suicide. If you spot a suicidal thought on a friend's page, you can report it to Facebook by clicking a link next to the comment. Facebook then sends an email to the person who posted the suicidal comment, encouraging them to call the hotline or click on a link to begin a confidential chat.
</p>

</div>
{% endblock %}