{% extends 'base.html' %}

{%block title%}{% endblock %}

{%block body %}

<h1 class="title">Lotus.</h1>

<p class="center" id="disclaimer">If you feel unsafe please call the National Suicide Prevention Hotline at 800-273-8255 or if this is an emergency please call 9-1-1</p>

	<div class="affcontainer">


		<h2 id="patitle">Positive Affirmations</h2>
	
		<p class="subtitle">Want some words of positivity? 
		  <button id="affirmation-btn" class="btn btn-primary">Click Here</button>
		</p>
	
		<div id="affirmationDisplay"></div>

		<script src="/static/practice.js"></script>
		</div>
	</div>
	
{% endblock %}