{% extends 'base.html' %}
{% block title %}{% endblock %}


{% block body %}

  <div data-role="page" id="map_page">
    <div data-role="header">
        <h1 class="title">Get Directions</h1>
    </div>
   
            <div id="mapc" style="height:400px;"></div>

            <div id="mapinput">
             From: <input type="text" id="from" >
             <br/><br/>
             To:  <input type="text" id="to">
            <br/><br/><br/>
            <a data-icon="search" data-role="button" href="#" id="submit">Get directions</a>
           </div>
        
        <div id="results" style="display:none;">
            <div id="directions"></div>
        </div>
    </div>



        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
         <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
         <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=&v=3&sensor=false&language=en"></script>
         <script>
            
             var directionDisplay,
                 directionsService = new google.maps.DirectionsService(),
                 map;
 
             function startMap() 
             {
                 showDirections = new google.maps.DirectionsRenderer();
                 var initialMapView = new google.maps.LatLng(40.574970,-73.980180);
 
                 var mapDirectionOptions = {
                     zoom:7,
                     mapTypeId: google.maps.MapTypeId.ROADMAP,
                     center: initialMapView
                 }
 
                 map = new google.maps.Map(document.getElementById("mapc"), mapDirectionOptions);
                 showDirections.setMap(map);
                 showDirections.setPanel(document.getElementById("directions"));  
             }
 
             function calcRoute() 
             {
                 
                     start = $("#from").val(),
                     end = $("#to").val();
 
                
                
                     var request = {
                         origin:start, 
                         destination:end,
              provideRouteAlternatives:true,
                         travelMode: google.maps.DirectionsTravelMode.DRIVING
                     };
 
                     directionsService.route(request, function(response, status) {
                         if (status == google.maps.DirectionsStatus.OK) {
                             showDirections.setDirections(response); 
                             $("#results").show();
                             
                                 var myRoute = response.routes[0].legs[0];
                 dist.value = response.rows[0].elements[0].distance.text;
                                 for (var i = 0; i < myRoute.steps.length; i++) {
                                    document.getElementById("inst").value=myRoute.steps[i].instructions;
                                     
                                 }
                             
                         }
                     });
 
                 }
      $(document).on("pageinit", "#map_page", function() {
         
                 startMap();
             });
 
             $(document).on('click', '#submit', function() {
                 
                 calcRoute();
             });
 
             
         </script>
     
      

 
        
      



	{% endblock %}